/* text */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2{
    font-family: 'Merriweather', serif;

}
h1{
    font-size: 70px;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 48px;
}
h4{
    font-size: 36px;
}
h5{
    font-size: 24px;
}
h2,h3,h4,h5,p{font-family: 'Average Sans', sans-serif;}

p{
    font-size: 20px;
}

/* navigation */

#navbar_logo{
    background-color: white;
    display: flex;
    align-items: center;
    cursor:pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 25px;
    font-family: 'Merriweather', sans-serif;

}
    
.nav_links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #B450F0;
    display:block;
    margin:auto;
    transition:0.25s;
}
.nav_links ul li:hover::after{
    width:100%;

}
.navbar{
    display: flex;
    width: 2% 6%;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.nav_links{
    flex:1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav_links ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Average Sans', sans-serif;
}

/* content */

.text_box{
    width:90%;
    text-align: left;
    color:black;
    position: relative;
    left: 30px;
    padding-left: 35px;
    padding-bottom: 100px;
    padding-top: 50px;

}



.text_box h1{
    font-size: 70px;
}

.fa-solid{
    display: none;
}
/* media query */

@media(max-width:700px){
    .text_box h1{
        font-size: 36px;
    }
    .text_box{
        width:90%;
        text-align: center;
        color:black;
        position: relative;
        left: 30px;
        padding-left: 35px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .nav_links ul li{
        display:block;
    }
    .nav_links{
        position:absolute;
        background:white;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition:0.75s;
    }
    .fa-solid{
        display:block;
        color:black;
       margin:10px;
       font-size: 22px;
       cursor: pointer; 
    }
    .nav_links ul{
        padding:30px;
    }
    .subHeading{
        text-align: center;
        width: 300px;
        margin: 50px auto;
        font-size: 12px;  
    }
}



.subHeading {
    text-align: center;
    width: 300px;
    margin: 50px auto;
}
#projectGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 450px 450px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "WSF WSF"
        "CA Gifted"
}
.projectGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}
#WSF {
    grid-area: WSF;
    background-image: url(docs/assets/Images/WSF\ mockup.png);
}
#CA {
    grid-area: CA;
    background-image: url(docs/assets/Images/CA\ Mockup.png);
}
#Gifted {
    grid-area: Gifted;
    background-image: url(docs/assets/Images/Gifted\ Mockup.png);
}
.heading {
    background-color: white;
    padding: 20px 10px;
    height: 35px;
    color: black;
    font-size: 24px;
    border-bottom: 5px solid white;
    font-family: "Average Sans" , sans-serif;
  }
  

/* footer */